@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* -------------------------------------------------------- */
header .topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    color: white;
    padding: 4px 60px 4px 90px;
    font-size: 10px;
}
.topHeader form{

}
.topHeader > div select{
    color:aliceblue;
    background-color: transparent;
    text-decoration: none;
    border: 0px;
    outline: none;
    box-shadow: none; 
    border-style: none;


}
.topHeader > div select:hover{
    outline: none;
    border: transparent;
    
}
.topHeader > div select option{
    color:black;
    background-color: transparent;
    text-decoration: none;
    border:none;
}



header .navHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#F0A83E;
    padding: 20px 40px;
    color: white;
    font-size: 13px;
}
.navLinks ul li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
}

/* -------------------------------------------------------- */
main .hero {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("../img/heroBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.hero>div{
    text-align: center;
    padding-right: 12px;
}
.hero h2{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
}
.hero p{
    margin-top: 12px;
    color: #3C2313;
}
.hero button{
    background-color: #F0A83E ;
    border: 0;
    border-radius: 5px;
    margin-top: 12px;
    padding: 15px 23px;
    color: white;
}

/* -------------------------------------------------------- */
main .product{
    padding: 20px;
}

.product>.productTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productTop h2{
    padding-top: 10px;
    color: #3C2313;
    font-size: 40px;
}
.productTop div{
    padding-top: 20px;
    display: flex;
    gap: 13px;
}

.product>.productCard{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 95px;
}
.productCard .card{
    text-align: center;
}
.card .cardTitle{
    color:#3C2313;
    font-size: 15px;
    font-weight: 500;
}
.card .cardPrice{
    color: #F0A83E;
    font-size: 15px;
    font-weight: 500;
}

/* -------------------------------------------------------- */

main .form{
    padding-top:80px;
}

.form>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form h2{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}
.form form .inputText{
    background-color: #3C2313;
    color: white;
    border:none;
    width: 340px;
    height: 40px;
    border-radius:15px;
    margin-top: 10px;
}
.form form .inputText::placeholder{
    color: white;
    font-size: 9px;
    padding: 15px;
}

.form form div{
    padding-top:40px;
}
.form form .ctaReset{
    background-color:#8A8787;
    color:white;
    padding: 8px 0px;
    border:none;
    border-radius: 15px;
    width: 110px;
} 
.form form .ctaSubmit {
    background-color:#F0A83E;
    color:white;
    padding: 8px;
    border:none;
    border-radius: 15px;
    width: 110px;    
}

/* -------------------------------------------------------- */
main .subscription{
    margin-top:75px;
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color:#F0A83E ;
}
.subscription div{
    display: flex;
    align-items: center;
}
.subscription div img{
    padding-left: 25px;
}
.subscription div h2 {
    padding-left: 10px;
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.subscription form{
    display:flex;
    align-items: center;
}
.subscription form .inputText{
    background-color: white;
    border: none;
    border-radius: 15px;
    height: 40px;
    width: 270px;
    margin-right: 5px;
}
.subscription form .inputText::placeholder{
    color:#A0A0A0;
    font-size: 9px;
    padding-left: 8px;
}
.subscription form .ctaSubmit{
    background-color: #3C2313;
    color:white;
    font-size: 9px;
    font-weight: bold;
    border:none;
    border-radius: 15px;
    padding:12px;
    margin-right: 50px;
}

/* -------------------------------------------------------- */

footer > .footerLinks{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C2313;
    padding: 0px 70px;
}
.footerLinks .linksItems{
    display: flex;
    gap: 20px;
    padding: 20px 0px;
}
.linksItems > div{
    padding-left: 25px;
}
.linksItems h4{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}
.linksItems p{
    font-weight: 700;
    font-size: 10px;
    color: #8A8787;
}

footer > .footerBottom{
    background-color:#222222;
    text-align: center;
}
.footerBottom p{
    color:white;
    font-weight: 700;
    font-size: 10px;
    padding: 5px 0px;
}